/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.container {

    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

body {

    background-color: black;
    color: white;
}

.user-box {
    height: 132px;
    width: calc(95% / 7);
    background-image: url(https://picsum.photos/132/);
    margin-bottom: 10px;
   background-size: cover;
}

.position-box {
    position: relative;
}

.position-user {
    position: absolute;
    bottom: 0;
    left: 0;
}

.user-name {

    height: 20px;
    width: 80%;
    background-color: rgb(160, 180, 205, 0.5);


}