/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.container {

    max-width: 1200px;
    margin: 0 auto;
}

body {

    background-color: black;
    color: white;
}

.user-box {
    height: 160px;
    width: calc(90% / 7);
    background-color: blue;
    margin-bottom: 20px;
}